name: b15pipeline

trigger:
  branches:
    include:
      - main
      - master
    exclude:
      - feature*
  batch: true

pool:
  name: default
  demands:
    - Agent.Name -equals Infra-agent

jobs:
# =========================
# Terraform Init / Plan Job
# =========================
- job: TerraformInitPlan
  displayName: Terraform Init & Plan
  steps:

  - task: TerraformInstaller@1
    displayName: Install Terraform
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: azurerm
      command: init
      backendServiceArm: infra-ashoksc
      backendAzureRmResourceGroupName: rg-dev
      backendAzureRmStorageAccountName: devstoragedevaccount
      backendAzureRmContainerName: terraformcotainer
      backendAzureRmKey: terraformb15.tfstate

  - task: TerraformTask@5
    displayName: Terraform Validate
    inputs:
      provider: azurerm
      command: validate

  - task: TerraformTask@5
    displayName: Terraform Plan
    inputs:
      provider: azurerm
      command: plan
      environmentServiceNameAzureRM: infra-ashoksc

  # =========================
  # tfsec Scan
  # =========================
  - task: tfsec@1
    displayName: tfsec Terraform Scan
    inputs:
      version: v1.26.0
      dir: $(System.DefaultWorkingDirectory)

  # =========================
  # TFLint Install & Scan
  # =========================
  - task: PowerShell@2
    displayName: Install & Run TruffleHog
    inputs:
      targetType: inline
      script: |
        $ErrorActionPreference = "Stop"

        $url = "https://github.com/trufflesecurity/trufflehog/releases/download/v3.92.5/trufflehog_3.92.5_windows_amd64.tar.gz"
        $zipPath = "$(System.DefaultWorkingDirectory)\\trufflehog.tar.gz"
        $extractPath = "$(System.DefaultWorkingDirectory)\trufflehog"
        $exePath = "$extractPath\trufflehog.exe"

        Write-Host "Downloading TruffleHog..."
        Invoke-WebRequest -Uri $url -OutFile $zipPath

        Write-Host "Extracting TruffleHog. .."
        Expand-Archive -Path $zipPath -DestinationPath $extractPath -Force

        Write-Host "Verifying TruffleHog..."
        & $exePath --version

        Write-Host "Running TruffleHog scan..."
        & $exePath filesystem "$(System.DefaultWorkingDirectory)" `
          --only-verified `
          --fail `
          --format sarif `
          --output "$(System.DefaultWorkingDirectory)\trufflehog.sarif"


# =========================
# Manual Approval Job
# =========================
- job: ManualValidate
  displayName: Manual Validation
  dependsOn: TerraformInitPlan
  pool: server
  timeoutInMinutes: 10
  steps:
  - task: ManualValidation@1
    inputs:
      notifyUsers: sachin.baswar@outlook.com
      approvers: sachin.baswar@outlook.com
      instructions: Please review Terraform plan and approve
