name: b15pipeline

trigger:
  branches:
    include:
      - main
      - master
    exclude:
      - feature*
  batch: true

pool:
  name: default
  demands:
    - Agent.Name -equals vm-agent

jobs:
# =========================
# Terraform Init / Plan Job
# =========================
- job: TerraformInitPlan
  displayName: Terraform Init & Plan
  steps:

  - task: TerraformInstaller@1
    displayName: Install Terraform
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: azurerm
      command: init
      backendServiceArm: infra-ashoksc
      backendAzureRmResourceGroupName: rg-dev
      backendAzureRmStorageAccountName: devstoragedevaccount
      backendAzureRmContainerName: terraformcotainer
      backendAzureRmKey: terraformb15.tfstate

  - task: TerraformTask@5
    displayName: Terraform Validate
    inputs:
      provider: azurerm
      command: validate

  - task: TerraformTask@5
    displayName: Terraform Plan
    inputs:
      provider: azurerm
      command: plan
      environmentServiceNameAzureRM: infra-ashoksc

# =========================
# tfsec Scan
# =========================
  - task: tfsec@1
    displayName: tfsec Terraform Scan
    inputs:
      version: v1.26.0
      dir: $(System.DefaultWorkingDirectory)

# =========================
# TruffleHog Install & Scan
# =========================
  - task: PowerShell@2
    displayName: Install & Run TruffleHog (Windows tar.gz)
    inputs:
      targetType: inline
      script: |
         $ErrorActionPreference = "Stop"

         $url = "https://github.com/trufflesecurity/trufflehog/releases/download/v3.92.5/trufflehog_3.92.5_windows_amd64.tar.gz"
         $archive = "$(System.DefaultWorkingDirectory)\trufflehog.tar.gz"
         $extractDir = "$(System.DefaultWorkingDirectory)\trufflehog"

         Write-Host "Downloading TruffleHog..."
         Invoke-WebRequest -Uri $url -OutFile $archive

         Write-Host "Extracting tar.gz..."
         New-Item -ItemType Directory -Force -Path $extractDir | Out-Null
         tar -xzf $archive -C $extractDir

         Write-Host "Verify TruffleHog..."
         & "$extractDir\trufflehog.exe" --version

         Write-Host "Running TruffleHog..."
         & "$extractDir\trufflehog.exe" filesystem "$(System.DefaultWorkingDirectory)" `
          --only-verified `
          --json > "$(System.DefaultWorkingDirectory)\trufflehog.json"
  - task: PublishBuildArtifacts@1
    displayName: Publish TruffleHog Report
    condition: always()
    inputs:
       PathtoPublish: '$(System.DefaultWorkingDirectory)\trufflehog.json'
       ArtifactName: 'TruffleHog-Report'
 # =========================
 # TFLint Install & Scan
# =========================
  - task: PowerShell@2
    displayName: Tflint
    inputs:
      targetType: 'inline'
      script: |
        $ErrorActionPreference = "Stop"
        
        $url = "https://github.com/terraform-linters/tflint/releases/download/v0.59.1/tflint_windows_amd64.zip"
        $zipPath = "$(System.DefaultWorkingDirectory)\tflint.zip"
        $extractPath = "$(System.DefaultWorkingDirectory)\tflint"
        $tflintExe = "$extractPath\tflint.exe"
        
        Write-Host "Downloading Tflint..."
        Invoke-WebRequest -Uri $url -OutFile $zipPath
        
        Write-Host "Extracting TFlint..."
        Expand-Archive -Path $zipPath -DestinationPath $extractPath -Force
        
        
        Write-Host "Verify tflint..."
        & $tflintExe --version
        
        Write-Host "Running tflint..."
        & $tflintExe --init 
        Write-Host "Initialize tflint..."
        & $tflintExe --init

        Write-Host "Running tflint with JSON output..."
        & $tflintExe `
        --format json `
        --recursive `
        > "$(System.DefaultWorkingDirectory)\tflint.json"
  - task: PublishBuildArtifacts@1
    displayName: Publish Tflint Report
    condition: always()
    inputs:
       PathtoPublish: '$(System.DefaultWorkingDirectory)\tflint.json'
       ArtifactName: 'tflint-Report'

# =========================
# Manual Approval Job
# =========================
- job: ManualValidate
  displayName: Manual Validation
  dependsOn: TerraformInitPlan
  pool: server
  timeoutInMinutes: 2
  steps:
  - task: ManualValidation@1
    inputs:
      notifyUsers: sachin.baswar@outlook.com
      approvers: sachin.baswar@outlook.com
      instructions: Please review Terraform plan and approve
