name: b15pipeline

trigger: 
 branches:
  include:
    - master
    - main
  exclude:
    - feature*
 batch: true

pool: default

jobs: 
- job: terraformInitPlan
  displayName: terraformInitPlan
  steps: 
  - task: TerraformInstaller@1
    displayName: TerraformInstall
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: TerraformInit
    inputs:
      provider: 'azurerm'
      command: 'init'
      backendServiceArm: 'infra-ashoksc'
      backendAzureRmResourceGroupName: 'rg-dev'
      backendAzureRmStorageAccountName: 'devstoragedevaccount'
      backendAzureRmContainerName: 'terraformcotainer'
      backendAzureRmKey: 'terraformb15.tfstate'
  - task: TerraformTask@5
    displayName: TerrafomrValidate
    inputs:
      provider: 'azurerm'
      command: 'validate'
  - task: TerraformTask@5
    displayName: TerraformPlan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      environmentServiceNameAzureRM: 'infra-ashoksc'

- job: Manuablevalidate 
  displayName: Manuablevalidate 
  dependsOn: terraformInitPlan
  pool: server
  timeoutInMinutes: 2
  steps:
  - task: ManualIntervention@8
    inputs:
      instructions: 'please review & approve'
      emailRecipients: 'sachin.baswar@outlook.com'
  - task: ManualValidation@1
    inputs:
      notifyUsers: 'sachin.baswar@outlook.com'
      approvers: 'sachin baswar'
      instructions: 'please review & approve'