name: infra-pipeline

trigger: 
  branches:
    include:
      - master
    exclude:
      - feature*
  batch: true 

pool: default

variables:
  SC_name : 'infra-ashoksc'

jobs:
  - job: job1
    displayName: TerraformInitPlan
    steps:
    - task: TerraformInstaller@1
      displayName: TerraformInstall
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      displayName: TerraformInit
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: $(SC_name)
        backendAzureRmResourceGroupName: 'rg-dev'
        backendAzureRmStorageAccountName: 'devstoragedevaccount'
        backendAzureRmContainerName: 'terraformcotainer'
        backendAzureRmKey: 'terraformInfra.tfstate'
    - task: TerraformTask@5
      displayName: TerraformValidate
      inputs:
        provider: 'azurerm'
        command: 'validate'
    - task: TerraformTask@5
      displayName: TerraformPlan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        environmentServiceNameAzureRM: $(SC_name)
    - task: tfsec@1
      displayName: CodescanningTool
      inputs:
        version: 'v1.26.0'
        debug: true
        dir: '$(System.DefaultWorkingDirectory)'
  - job: 
    dependsOn: job1
    displayName: ManualValidation
    pool: server
    timeoutInMinutes: 2
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'sachin.baswar@vodafone.com'
        instructions: 'please check & review'
